* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

/* #region task-1 */
.categories {
  border-radius: 8px;
  padding: 24px;
  width: 440px;
  height: 888px;
  background: #fff;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title-item-list {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 16px 0 16px 16px;
}
.item {
  display: flex;
  flex-direction: column;
  border-radius: 8px;

  background-color: #f6f6fe;
  list-style-type: none;
  margin-bottom: 24px;
}
.animals-item {
  width: 392px;
  height: 264px;
}
.products-item {
  width: 392px;
  height: 216px;
}
.tech-item {
  width: 392px;
  height: 264px;
}
.item:last-child {
  margin-bottom: 0;
}
.item-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left: 16px;
  gap: 8px;
  width: 360px;
  height: 184px;
  list-style-type: none;
}

.list-element {
  display: flex;
  align-items: center;
  text-align: left;
  width: 360px;
  height: 40px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border: 1px solid #808080;
  border-radius: 4px;
}
/* #endregion task-1 */

/* #region task-2 */
.gallery {
  width: 1128px;
  height: 300px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.gallery li {
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc((100% - 48px) / 3);
}

.gallery_image {
  width: 360px;
  height: 300px;
  display: block;
  object-fit: cover;
}
/* #endregion task-2 */

/* #region task-4 */
.login-form {
  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 256px;
}
.input-form {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  margin-top: 8px;
  padding-left: 15px;
}
.login-button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background-color: #4e75ff;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  margin-top: 16px;
}
.login-button:hover {
  background-color: #6c8cff;
}

/* #endregion task-4 */

/* #region task-5 */
.widget {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  width: 169px;
  height: 80px;
}
.widget-text {
  font-weight: 400;
}
.change-color {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: #fff;
  border-radius: 8px;
  padding: 8px 16px;
  width: 148px;
  height: 40px;
  background-color: #4e75ff;
}
/* #endregion task-5 */
